.note-header {
  margin-bottom: 2rem;

  .source-reference {
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    color: var(--gray);

    .source-title {
      color: var(--secondary);
      font-weight: 500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .source-quote {
    font-style: italic;
    border-left: 3px solid var(--secondary);
    padding-left: 1rem;
    margin: 1rem 0;

    footer {
      margin-top: 0.5rem;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }
}
